<!DOCTYPE html>
<html>

<head>
    <title>Edit Student</title>
</head>

<body>

    <h1>Edit Student</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

        {% for category, message in messages[-1:] %}

            {% if category == 'error' %}

                <p style="color:red;">
                    {{ message }}
                </p>

            {% else %}

                <p style="color:green;">
                    {{ message }}
                </p>

            {% endif %}

        {% endfor %}

    {% endif %}

    {% endwith %}

    <form
        method="POST"
        action="/update/{{ student[0] }}"
    >

        <label>Student Name</label>

        <br><br>

        <input
            type="text"
            name="student_name"
            value="{{ student[1] }}"
            required
        >

        <button type="submit">
            Update
        </button>

    </form>

    <br>

    <a href="/">
        Back
    </a>

</body>
</html>